<!--The content below is only a placeholder and can be replaced.-->
<h1>Applicants</h1>
<div class="applicantFormulier">
  <form [formGroup]="applicantForm" (ngSubmit)="addApplicant(applicantForm)">
    <div class="form-group center-block">
      <label for="InputFirstName">First name</label>
      <input type="text" class="form-control" id="InputFirstName" placeholder="First name"
             formControlName="firstName" required minlength="2" maxlength="50">
      <div *ngIf="applicantForm.controls.firstName.errors &&
       (applicantForm.controls.firstName.dirty || applicantForm.controls.firstName.touched)"
           class="alert alert-danger">
        <div *ngIf="applicantForm.controls.firstName.errors.required">
          First name is required!
        </div>
        <div *ngIf="applicantForm.controls.firstName.errors.minlength">
          Minimum length is 2 characters!
        </div>
        <div *ngIf="applicantForm.controls.firstName.errors.maxlength">
          Maximum length is 50 characters!
        </div>
      </div>
    </div>

    <div class="form-group center-block">
      <label for="InputLastName">Last Name</label>
      <input type="text" class="form-control" id="InputLastName" placeholder="Last name"
             formControlName="lastName" required maxlength="50" minlength="2">
    </div>
    <div *ngIf="applicantForm.controls.lastName.errors &&
     (applicantForm.controls.lastName.dirty || applicantForm.controls.lastName.touched)"
         class="alert alert-danger">
      <div *ngIf="applicantForm.controls.lastName.errors.required">
        Last name is required!
      </div>
      <div *ngIf="applicantForm.controls.lastName.errors.minlength">
        Minimum length is 2 characters!
      </div>
      <div *ngIf="applicantForm.controls.lastName.errors.maxlength">
        Maximum length is 50 characters!
      </div>
    </div>
    <div class="form-group center-block">
      <label for="InputEmail">Email address</label>
      <input type="email" class="form-control" id="InputEmail" placeholder="Email"
             formControlName="email">
    </div>
    <div *ngIf="applicantForm.controls.email.errors &&
     (applicantForm.controls.email.dirty || applicantForm.controls.email.touched)"
         class="alert alert-danger">
      <div>
        Invalid email!
      </div>
    </div>
    <div class="form-group center-block">
      <label for="InputPhone">Phone number</label>
      <input type="text" class="form-control" id="InputPhone" placeholder="Phone number"
             formControlName="phone">
    </div>

    <div *ngIf="applicantForm.controls.phone.errors &&
     (applicantForm.controls.phone.dirty || applicantForm.controls.phone.touched)"
         class="alert alert-danger">
      <div>
        Invalid phone number!
      </div>
    </div>

    <div class="form-group center-block">
      <label for="InputDateOfBirth">Date of birth</label>
      <input type="date" data-date-format="YYYY/MM/dd" class="form-control datepicker" id="InputDateOfBirth"
             placeholder="Date of birth"
             formControlName="dateOfBirth">
    </div>
    <div class=" form-group center-block">
      <label id="EducationLabel" for="InputEducation">Education</label>
      <input type="text" class="form-control" id="InputEducation" placeholder="Education"
             formControlName="education">
    </div>

    <div class="form-group center-block">
      <label for="InputAddress">Address</label>
      <input type="text" class="form-control" id="InputAddress" placeholder="Address"
             formControlName="address">
    </div>
    <div class="form-group center-block">
      <label for="InputCV">CV toevoegen</label>
      <input type="file" id="InputCV">
      <!--          <p class="help-block">Example block-level help text here.</p> -->
    </div>
    <button type="submit" value="submit" [disabled]="!applicantForm.valid" class="btn btn-default btn-lg center-block">
      Submit
    </button>
  </form>
</div>

<div class="applicantTable">
  <table class="table table-striped table-hover table-bordered">
    <tbody>
    <tr>
      <th class="text-center">ID</th>
      <th class="text-center">FirstName</th>
      <th class="text-center">LastName</th>
      <th class="text-center">Email</th>
      <th class="text-center">Phone</th>
      <th class="text-center">Date of Birth</th>
      <th class="text-center">Education</th>
      <th class="text-center">Address</th>
    </tr>
    <tr *ngFor="let applicant of iapplicants">
      <td class="text-center">{{applicant.applicantId}}</td>
      <td class="text-center">{{applicant.firstName}}</td>
      <td class="text-center">{{applicant.lastName}}</td>
      <td class="text-center">{{applicant.email}}</td>
      <td class="text-center">{{applicant.phone}}</td>
      <td class="text-center">{{applicant.dateOfBirth}}</td>
      <td class="text-center">{{applicant.education}}</td>
      <td class="text-center">{{applicant.address}}</td>
      <td class="text-center">
        <button [attr.id]="applicant?.applicantId" (click)="getId($event)" class="btn btn-sm btn-info"
                data-toggle="modal" data-target="#applicantModal">Edit
        </button>
        <button [attr.id]="applicant?.applicantId" class="btn btn-sm btn-danger" (click)="getId($event)"
        data-toggle="modal" data-target="#deleteModal">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div id="applicantModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{readApplicantById(currentId-1)?.firstName}}
          {{readApplicantById(currentId-1)?.lastName}}</h4>
        <p>Applicant number: {{readApplicantById(currentId-1)?.applicantId}}</p>
      </div>
      <div class="modal-body">
        <form [formGroup]="updateApplicantForm">
          <div class="form-group center-block">
            <label for="InputFirstNameModal">First name</label>
            <input type="text" value="{{readApplicantById(currentId-1)?.firstName}}" class="form-control"
                   id="InputFirstNameModal" placeholder="First name"
                   formControlName="firstName" required minlength="2" maxlength="50"
                   [ngModel]="readApplicantById(currentId-1)?.firstName">
            <div *ngIf="updateApplicantForm.controls.firstName.errors &&
       (updateApplicantForm.controls.firstName.dirty || updateApplicantForm.controls.firstName.touched)"
                 class="alert alert-danger">
              <div *ngIf="updateApplicantForm.controls.firstName.errors.required">
                First name is required!
              </div>
              <div *ngIf="updateApplicantForm.controls.firstName.errors.minlength">
                Minimum length is 2 characters!
              </div>
              <div *ngIf="updateApplicantForm.controls.firstName.errors.maxlength">
                Maximum length is 50 characters!
              </div>
            </div>
          </div>

          <div class="form-group center-block">
            <label for="InputLastNameModal">Last Name</label>
            <input type="text" value="{{readApplicantById(currentId-1)?.lastName}}" class="form-control"
                   id="InputLastNameModal" placeholder="Last name"
                   formControlName="lastName" required maxlength="50" minlength="2"
                   [ngModel]="readApplicantById(currentId-1)?.lastName">
          </div>
          <div *ngIf="updateApplicantForm.controls.lastName.errors &&
     (updateApplicantForm.controls.lastName.dirty || updateApplicantForm.controls.lastName.touched)"
               class="alert alert-danger">
            <div *ngIf="updateApplicantForm.controls.lastName.errors.required">
              Last name is required!
            </div>
            <div *ngIf="updateApplicantForm.controls.lastName.errors.minlength">
              Minimum length is 2 characters!
            </div>
            <div *ngIf="updateApplicantForm.controls.lastName.errors.maxlength">
              Maximum length is 50 characters!
            </div>
          </div>
          <div class="form-group center-block">
            <label for="InputEmailModal">Email address</label>
            <input type="email" value="{{readApplicantById(currentId-1)?.email}}" class="form-control"
                   id="InputEmailModal" placeholder="Email"
                   formControlName="email" [ngModel]="readApplicantById(currentId-1)?.email">
          </div>
          <div *ngIf="updateApplicantForm.controls.email.errors &&
     (updateApplicantForm.controls.email.dirty || updateApplicantForm.controls.email.touched)"
               class="alert alert-danger">
            <div>
              Invalid email!
            </div>
          </div>
          <div class="form-group center-block">
            <label for="InputPhoneModal">Phone number</label>
            <input type="text" value="{{readApplicantById(currentId-1)?.phone}}" class="form-control"
                   id="InputPhoneModal" placeholder="Phone number"
                   formControlName="phone" [ngModel]="readApplicantById(currentId-1)?.phone">
          </div>

          <div *ngIf="updateApplicantForm.controls.phone.errors &&
     (updateApplicantForm.controls.phone.dirty || updateApplicantForm.controls.phone.touched)"
               class="alert alert-danger">
            <div>
              Invalid phone number!
            </div>
          </div>

          <div class="form-group center-block">
            <label for="InputDateOfBirthModal">Date of birth</label>
            <input type="date" value="{{readApplicantById(currentId-1)?.dateOfBirth}}" data-date-format="YYYY/MM/dd"
                   class="form-control datepicker" id="InputDateOfBirthModal"
                   placeholder="Date of birth"
                   formControlName="dateOfBirth" [ngModel]="readApplicantById(currentId-1)?.dateOfBirth">
          </div>
          <div class=" form-group center-block">
            <label id="EducationLabelModal" for="InputEducation">Education</label>
            <input type="text" value="{{readApplicantById(currentId-1)?.education}}" class="form-control"
                   id="InputEducationModal" placeholder="Education"
                   formControlName="education" [ngModel]="readApplicantById(currentId-1)?.education">
          </div>

          <div class="form-group center-block">
            <label for="InputAddressModal">Address</label>
            <input type="text" value="{{readApplicantById(currentId-1)?.address}}" class="form-control"
                   id="InputAddressModal" placeholder="Address"
                   formControlName="address" [ngModel]="readApplicantById(currentId-1)?.address">
          </div>
          <div class="form-group center-block">
            <label for="InputCVModal">CV toevoegen</label>
            <input type="file" id="InputCVModal">
            <!--          <p class="help-block">Example block-level help text here.</p> -->
          </div>
          <button type="button" (click)="updateApplicant(updateApplicantForm)" value="submit"
                  [disabled]="!updateApplicantForm.valid"
                  class="btn btn-default btn-lg center-block" data-dismiss="modal">Submit
          </button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div id="deleteModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body text-center">
        <p class="text-center">Are you sure you want to delete this applicant? </p>
        <p class="text-center">{{readApplicantById(currentId-1)?.firstName}}  {{readApplicantById(currentId-1)?.lastName}}</p>
        <button class="btn btn-danger btn-lg" (click)="deleteApplicant(currentId)" data-dismiss="modal">Yes</button>
        <button class="btn btn-success btn-lg" data-dismiss="modal">No </button>
      </div>
    </div>
  </div>
</div>

<!--The content below is only a placeholder and can be replaced.-->
<h1>Prospects</h1>
<div class="prospectFormulier">
  <form [formGroup]="prospectForm" (ngSubmit)="addProspect(prospectForm)">
    <div class="form-group center-block">
      <label for="InputFirstNameProspect">First name</label>
      <input type="text" class="form-control" id="InputFirstNameProspect" placeholder="First name"
             formControlName="firstName">
    </div>
    <div *ngIf="prospectForm.controls.firstName.errors &&
     (prospectForm.controls.firstName.dirty || prospectForm.controls.firstName.touched)"
         class="alert alert-danger">
      <div *ngIf="prospectForm.controls.firstName.errors.required">
        Last name is required!
      </div>
      <div *ngIf="prospectForm.controls.firstName.errors.minlength">
        Minimum length is 2 characters!
      </div>
      <div *ngIf="prospectForm.controls.firstName.errors.maxlength">
        Maximum length is 50 characters!
      </div>
    </div>
    <div class="form-group center-block">
      <label for="InputLastNameProspect">Last Name</label>
      <input type="text" class="form-control" id="InputLastNameProspect" placeholder="Last name"
             formControlName="lastName">
    </div>
    <div *ngIf="prospectForm.controls.lastName.errors &&
     (prospectForm.controls.lastName.dirty || prospectForm.controls.lastName.touched)"
         class="alert alert-danger">
      <div *ngIf="prospectForm.controls.lastName.errors.required">
        Last name is required!
      </div>
      <div *ngIf="prospectForm.controls.lastName.errors.minlength">
        Minimum length is 2 characters!
      </div>
      <div *ngIf="prospectForm.controls.lastName.errors.maxlength">
        Maximum length is 50 characters!
      </div>
    </div>
    <div class="form-group center-block">
      <label for="InputEmailProspect">Email address</label>
      <input type="email" class="form-control" id="InputEmailProspect" placeholder="Email"
             formControlName="email">
    </div>
    <div *ngIf="prospectForm.controls.email.errors &&
     (prospectForm.controls.email.dirty || prospectForm.controls.email.touched)"
         class="alert alert-danger">
      <div>
        Invalid email!
      </div>
    </div>
    <div class="form-group center-block">
      <label for="InputPhoneProspect">Phone number</label>
      <input type="text" class="form-control" id="InputPhoneProspect" placeholder="Phone number"
             formControlName="phone">
    </div>
    <div *ngIf="prospectForm.controls.phone.errors &&
     (prospectForm.controls.phone.dirty || prospectForm.controls.phone.touched)"
         class="alert alert-danger">
      <div>
        Invalid email!
      </div>
    </div>

    <button type="submit" value="submit" [disabled]="!prospectForm.valid" class="btn btn-default btn-lg center-block">
      Submit
    </button>
  </form>
</div>

<div class="prospectTable">
  <table class="table table-striped table-hover table-bordered">
    <tbody>
    <tr>
      <th class="text-center">ID</th>
      <th class="text-center">FirstName</th>
      <th class="text-center">LastName</th>
      <th class="text-center">Email</th>
      <th class="text-center">Phone</th>
    </tr>
    <tr *ngFor="let prospect of iprospects">
      <td class="text-center">{{prospect.prospectId}}</td>
      <td class="text-center">{{prospect.firstName}}</td>
      <td class="text-center">{{prospect.lastName}}</td>
      <td class="text-center">{{prospect.email}}</td>
      <td class="text-center">{{prospect.phone}}</td>
      <td class="text-center">
        <button [attr.id]="prospect?.prospectId" (click)="getId($event)" class="btn btn-sm btn-info"
                data-toggle="modal" data-target="#prospectModal">Edit
        </button>
        <button [attr.id]="prospect?.prospectId" class="btn btn-sm btn-danger" (click)="getId($event)"
                data-toggle="modal" data-target="#deleteProspectModal">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>


<!-- Modal -->
<div id="prospectModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{readProspectById(currentId-1)?.firstName}}
          {{readProspectById(currentId-1)?.lastName}}</h4>
        <p>Applicant number: {{readProspectById(currentId-1)?.prospectId}}</p>
      </div>
      <div class="modal-body">
        <form [formGroup]="updateProspectForm">
          <div class="form-group center-block">
            <label for="InputFirstNameProspectModal">First name</label>
            <input type="text" value="{{readProspectById(currentId-1)?.firstName}}" class="form-control"
                   id="InputFirstNameProspectModal" placeholder="First name"
                   formControlName="firstName" required minlength="2" maxlength="50"
                   [ngModel]="readProspectById(currentId-1)?.firstName">
            <div *ngIf="updateProspectForm.controls.firstName.errors &&
       (updateProspectForm.controls.firstName.dirty || updateProspectForm.controls.firstName.touched)"
                 class="alert alert-danger">
              <div *ngIf="updateProspectForm.controls.firstName.errors.required">
                First name is required!
              </div>
              <div *ngIf="updateProspectForm.controls.firstName.errors.minlength">
                Minimum length is 2 characters!
              </div>
              <div *ngIf="updateProspectForm.controls.firstName.errors.maxlength">
                Maximum length is 50 characters!
              </div>
            </div>
          </div>

          <div class="form-group center-block">
            <label for="InputLastNameProspectModal">Last Name</label>
            <input type="text" value="{{readProspectById(currentId-1)?.lastName}}" class="form-control"
                   id="InputLastNameProspectModal" placeholder="Last name"
                   formControlName="lastName" required maxlength="50" minlength="2"
                   [ngModel]="readProspectById(currentId-1)?.lastName">
          </div>
          <div *ngIf="updateProspectForm.controls.lastName.errors &&
     (updateProspectForm.controls.lastName.dirty || updateProspectForm.controls.lastName.touched)"
               class="alert alert-danger">
            <div *ngIf="updateProspectForm.controls.lastName.errors.required">
              Last name is required!
            </div>
            <div *ngIf="updateProspectForm.controls.lastName.errors.minlength">
              Minimum length is 2 characters!
            </div>
            <div *ngIf="updateProspectForm.controls.lastName.errors.maxlength">
              Maximum length is 50 characters!
            </div>
          </div>
          <div class="form-group center-block">
            <label for="InputEmailProspectModal">Email address</label>
            <input type="email" value="{{readProspectById(currentId-1)?.email}}" class="form-control"
                   id="InputEmailProspectModal" placeholder="Email"
                   formControlName="email" [ngModel]="readProspectById(currentId-1)?.email">
          </div>
          <div *ngIf="updateProspectForm.controls.email.errors &&
     (updateProspectForm.controls.email.dirty || updateProspectForm.controls.email.touched)"
               class="alert alert-danger">
            <div>
              Invalid email!
            </div>
          </div>
          <div class="form-group center-block">
            <label for="InputPhoneProspectModal">Phone number</label>
            <input type="text" value="{{readProspectById(currentId-1)?.phone}}" class="form-control"
                   id="InputPhoneProspectModal" placeholder="Phone number"
                   formControlName="phone" [ngModel]="readProspectById(currentId-1)?.phone">
          </div>

          <div *ngIf="updateProspectForm.controls.phone.errors &&
     (updateProspectForm.controls.phone.dirty || updateProspectForm.controls.phone.touched)"
               class="alert alert-danger">
            <div>
              Invalid phone number!
            </div>
          </div>
          <button type="button" (click)="updateProspect(updateProspectForm)" value="submit"
                  [disabled]="!updateProspectForm.valid"
                  class="btn btn-default btn-lg center-block" data-dismiss="modal">Submit
          </button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div id="deleteProspectModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body text-center">
        <p class="text-center">Are you sure you want to delete this prospect? </p>
        <p class="text-center">{{readProspectById(currentId-1)?.firstName}}  {{readProspectById(currentId-1)?.lastName}}</p>
        <button class="btn btn-danger btn-lg" (click)="deleteProspect(currentId)" data-dismiss="modal">Yes</button>
        <button class="btn btn-success btn-lg" data-dismiss="modal">No </button>
      </div>
    </div>
  </div>
</div>
