table {
  margin-top: 5%;
  margin-bottom: 5%;
}

.applicantFormulier, .prospectFormulier {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#filesModalList div {
  padding: 2%;
}

.row {
  border: 1px solid skyblue;
  margin: 2%;
}
