<div id="dashboard" class="container-fluid text-center">

  <div class="wrapper">
    <div class="header-box a">TODO</div>
    <div class="header-box b">Interview planned</div>
    <div class="header-box c">Need review</div>
    <div class="header-box d">Accepted</div>
    <div class="header-box e">Denied</div>
    <div id="todo" class="wrapperRow" [dragula]='"first-bag"'>
      <div class="box a">Applicant 1</div>
      <div class="box b">Applicant 6</div>
    </div>
    <div id="planned" class="wrapperRow" [dragula]='"first-bag"'>
      <div class="box a">Applicant 2</div>
      <div class="box b">Applicant 7</div>
    </div>
    <div id="review" class="wrapperRow" [dragula]='"first-bag"'>
      <div class="box a">Applicant 3</div>
      <div class="box b">Applicant 8</div>
    </div>
    <div id="accepted" class="wrapperRow" [dragula]='"first-bag"'>
      <div class="box a">Applicant 4</div>
      <div class="box b">Applicant 9</div>
    </div>
    <div id="denied" class="wrapperRow" [dragula]='"first-bag"'>
      <div class="box a">Applicant 5</div>
      <div class="box b">Applicant 10</div>
    </div>
  </div>
</div>
